:root{
    --fonte-principal: 'Roboto';
    --fonte-secundario: 'Open Sans';
    --paragrafos-brancos: #FFFFFF;
    --paragrafos-pretos: #000000;
    --paragrafos-vermelhos: #EB5757;
}

.principal{
    background-image: url(/imgs/intro.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 31%;
    padding-bottom: 14%;
}

.image{
    margin: 32px 0px 0px 112px;
}

.container__principal{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.container__lista{
    display: flex;
    position: absolute;
    right: 130px;
    bottom: 585px;
}

.lista__header a{
    padding: 8px;
    font-family: var(--fonte-secundario);
    font-size: 17px;
    text-decoration: none;
    color: var(--paragrafos-brancos);
}

.main__text{
    margin-top: 81px;
    text-align: center;
}

.texto__principal{
    font-family: var(--fonte-principal);
    color: var(--paragrafos-brancos);
    font-size: 40px;
    font-weight: 400;
    padding: 0px 315px;
    margin-bottom: 69px;
}

.texto__secundario{
    font-family: var(--fonte-secundario);
    color: var(--paragrafos-brancos);
    text-align: left;
    padding: 0 362px;
    margin-bottom: 100px;
}

.container__button{
    text-decoration: none;
    font-family: var(--fonte-secundario);
    color: #F2F2F2;
    font-size: 26px;
    border: 3px solid #B72E2E;
    background-color: #B72E2E;
    border-radius: 5px;
    padding: 2px 25px;
}

.container__list-secundary{
    display: flex;
    margin-top: -10px;
    background-color: #F1F1F1;
    padding: 1em 100px 1em;
}

.container__list-secundary img{
    float: left;
    margin: 30px 63px;
    margin-right: 17px;
}

.container__list-secundary p{
    list-style-type: none;
    font-family: var(--fonte-secundario);
    font-size: 16px;
    height: 300;
    color: var(--paragrafos-pretos);

}

.container__secundary p{
    margin-top: 45px;
}

.container__about{
    background-color: #56CCF2;
    padding: 30px 161px 10px 140px;
}

.text__main{
    font-family: var(--fonte-principal);
    color: var(--paragrafos-brancos);
    font-size: 40px;
    font-weight: 700;
    margin: 0px 0px 35px -9px
}

.list__container{
    font-family: var(--fonte-secundario);
    color: var(--paragrafos-pretos);
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 50px;
}

.list__container p{
    padding-bottom: 1em;
}

.list__container p:last-child{
    font-weight: bold;
}

.images__list{
    display: flex;
    margin-bottom: 0.3em;
}

.images__list-elements{
    padding-right: 1em;
}

.container__images{
    margin-left: 1em;
}

.container__plain-box{
    background-color: #F7F4F4;
    padding-top: 53px;
    padding-bottom: 42px;
}

#text__plain{
    text-align: center;
    font-family: var(--fonte-principal);
    color: var(--paragrafos-vermelhos);
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 79px;

}

.container__plains-list{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.header__list{
    background-color: #9B59B6;
    font-family: var(--fonte-principal);
    font-size: 26px;
    color: var(--paragrafos-brancos);
    font-weight: 700;
    padding: 16px 114px 14px 114px;
}

.container__borders{
    background: #FFFFFF;
    border: 0px solid #000000;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
    
}

.container__itens{
    background-color: #FFFFFF;
    padding-top: 1px;
    padding-bottom: 47px;
}

#secundario{
    margin: -40px 0px 0px 0px;
}


.price__plain{
    font-family: var(--fonte-principal);
    color: #EB5757;
    font-size: 60px;
    font-weight: 700;
    margin: 19px 0 12px 0;
}

.price__plain::before {
    content: "R$"; color: red;
    font-size: 20px;
    color: var(--paragrafos-vermelhos);
    position: relative;
    bottom: 30px;
}
.custom__offers{
    font-family: var(--fonte-secundario);
    color: #666666;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 45px;
    line-height: 40px;
    margin-bottom: 64px;
}

.custom__offers p::before {
    content: "•"; 
    color: #666666;
    padding-left: 24px;
    padding-right: 6px;
}

.button__plain{
    font-family: var(--fonte-secundario);
    font-weight: 400;
    font-size: 26px;
    text-decoration: none;
    color: var(--paragrafos-brancos);
    background-color: #B72E2E;
    margin-top: 45px;
    padding: 0.3em 0.8em 0.3em 0.8em;
    border-radius: 7px;
}

.container__news{
    margin-top: 51px;
    margin-bottom: 50%;
}

#text__plain-blog{
    text-align: center;
    font-family: var(--fonte-principal);
    color: var(--paragrafos-vermelhos);
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 1em;
}

.content{
    height: 520px;
    width: 920px;
    overflow: hidden;
    position: absolute;
    left: 15%;
}

.navigation{
    position: absolute;
    top: 83%;
    right: 42%;
    display: flex;
}


.bar{
    width: 37px;
    height: 36px;
    margin: 6px;
    border-radius: 26px;
    cursor: pointer;
    background-color: #c0c0c0;
    margin: 0 10px;
}

.bar:active{
    background-color: var(--paragrafos-vermelhos);
}

.bar:hover{
    transition: 0.6s;
    transform: scale(1.1);
}

.content input{
    display: none;
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
}

.slide{
    width: 20%;
    transition: .6s;
}

.slide img{
    width: 100%;
    height: 45%;
}

.text__main-news{
    text-align: center;
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 22px;
    margin-top: 21px;
    margin-bottom: 20px;
}

.text__paragraph-news{
    font-family: var(--fonte-secundario);
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}

.text__paragraph-news a{
    color: #EB5757;
    text-decoration: none;
}

#slide1:checked ~ .s1{
    margin-left: 0;
}

#slide2:checked ~ .s1{
    margin-left: -20%;
}

#slide3:checked ~ .s1{
    margin-left: -40%;
}

#main__title-emphasis{
    text-align: center;
    font-size: 40px;
    font-family: var(--fonte-principal);
    color: var(--paragrafos-vermelhos);
    font-weight: 700;
    margin-top: 54.23px;
    margin-bottom: 46.32px;
}

.images__emphasys-ul{
    display: flex;
}

.images__emphasys-li{
    margin: 0px 0px 0px -60px;
    padding: 30px 108px 40px 39px;
    margin: -2px;
}

.images__emphasys-li img{
    width: 30em;
    margin-bottom: 47px;
}

.secundary-image{
    background-color: white;
    padding-right: 30px;
}

.text__box-emphasys{
    font-family: var(--fonte-secundario);
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: -22px;
}

.checkbox__label{
    margin: 50px 0px 1em 10px;
    font-family: var(--fonte-secundario);
    font-size: 18px;
    font-weight: 400;
}

.checkbox__label label{
    margin-right: 2px;
}

.style__butons{
    background-color: #B72E2E;
    border-style: none;
    padding: 10px;
    border-radius: 5px;
    padding: 5px 18px;
    font-family: var(--fonte-secundario);
    font-size: 18px;
    text-decoration: none;
}

.style__butons a{
    text-decoration: none;
    color: var(--paragrafos-brancos);
}

.container__form{
    background-color: #F7F4F4;
    padding-top: 2.5em;
    text-align: center;
    padding-bottom: 2.5em;
}

.title__paragraph{
    text-align: center;
    padding-bottom: 2em;
    font-family: var(--fonte-secundario);
}

.title__paragraph p:last-child{
    color: var(--paragrafos-vermelhos);
}

.labels__forms{
    display: inline-grid;   
}

.label__subforms{
    font-family: var(--fonte-secundario);
    font-size: 18px;
    padding: 0px 0px 4px 0.3em;
    text-align: left;
}

.forms__write{
    margin-bottom: 2em;
    border: 1px solid #666666;
    border-radius: 5px;
    padding: 1em 19em 1em 1em;
}

.observation__label{
    padding-bottom: 13em;
}

.button__forms{
    padding: 0.2em 0;
    background-color: #B72E2E;
    border: 1px;
    border-radius: 3px;
}

.button__forms a{
    font-family: var(--fonte-secundario);
    color: white;
    text-decoration: none;
    font-size: 26px;
    font-weight: 400;
}

.container__divulgation{
    background-color: white;
    padding: 2.5em 0 10.5em 0;
}

.texts__divulgation{
    padding: 0 8em;
    display: flex;
    flex-direction: column;
}

.texts__divulgation h3{
    padding: 0 32em 0 0;
}

.img__developer{
    width: 20%;
    float: right;
    position: absolute;
    left: 64%;
}

.texts__divulgation p{
    font-family: var(--fonte-secundario);
    color: #666666;
    font-size: 20px;
    font-weight: 300;
}

.texts__divulgation p:nth-child(2){
    color: var(--paragrafos-vermelhos);
}

.title__main-divulgation{
    font-family: var(--fonte-secundario);
    margin: 2em 0;
    font-size: 16px;
}

.footer__container{
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 5em;
}

.icons__footer{
    display: flex;
}

.icons__footer li{
    padding: 0 1em;
}

.itens__footer{
    display: flex;
}